<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
      <body>
        <!-- header -->
        <header class="header">
          
            <nav class="navbar navbar-expand-lg navbar-light py-3 bg-white shadow-sm">
              <div class="container">
                <span></span>
                <button class="navbar-toggler navbar-toggler-end collapsed justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto align-items-lg-center">
                    <li class="nav-item mx-2">
                      <!-- Link--><a class="nav-link text-uppercase active" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                      <!-- Link--><a class="nav-link text-uppercase" href="{% url 'register' %}">Sign UP</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-2">
                      <!-- Link--><a class="nav-link text-uppercase" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li>
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                        <a href="{% url 'home' %}"></a><button class="btn btn-outline-primary"  type="submit" style="height: 50px;padding:0px 20px"><i class="bi bi-search text-dark"></i></button>
                      </form>
                    </li>
                    
                  </ul>
                  <!-- <div class="input-group">
                    
                  </div> -->
                </div>
              </div>
            </nav>
            {% endif %}
          </header>

          {% block content %}
          {% endblock content %}

        <!-- Footer -->
        <footer class="bg-dark">
            <div class="bg-darker py-3">
              <div class="container text-center">
                <p class="mb-0 text-muted text-sm">© All rights reserved</p>
              </div>
            </div>
          </footer>

          {% include 'js.html' %}
          
      </body>
      </html>
