{% extends 'base.html' %}
{% block content %}
{% if messages %}
<div class="p-t-15 text-center">
  {% for i in messages %}
  <h5 class="text-success fw-bold fs-5">{{ i }}</h5>
  {% endfor %}
</div>
{% endif %}
<div class="page-wrapper bg-gra-02 p-b-100 font-poppins " style="padding-top: 60px;">
    <div class="wrapper wrapper--w1000">
        <div class="container">
            <table class="table bg-white">
                <thead>
                  <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">GENDER</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">DOB</th>
                    <th scope="col">PHONE NUMBER</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for i in data %}
                    {% if i.usertype != 'admin' %}
                  <tr>
                    <th scope="row">{{ i.id }}</th>
                    <td class="text-uppercase">{{ i.first_name}}</td>
                    <th scope="row">{{ i.gender }}</th>
                    <th scope="row">{{ i.email }}</th>
                    <th >{{ i.birthday }}</th>
                    <td>+ 91 {{ i.phone }}</td>
                    <td>
                      <a href="{% url 'edit' uid=i.id %}?uid=i.id" >
                        <i class="bi bi-pencil-square "></i>
                      </a>
                      <i class="bi bi-trash3 text-danger" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#blockuser-{{ i.id }}"></i></span>
                      <!-- Modal -->
                      <div class="modal fade" id="blockuser-{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p>Do you want to Delete  {{ i.first_name }}</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <a href="{% url 'delete' uid=i.id %}?uid=i.id"><button type="button" class="btn btn-primary">Confirm</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
              
        </div>
    </div>
</div>

{% endblock %}