{% extends 'base.html' %}
{% block content %}

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h3 class="title">Login</h3>
                <form method="POST" action="">
                  {% csrf_token %}
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" name="email">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" type="password" name="pass1">
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Login</button>
                    </div>
                    <div class="p-t-15">
                        {% for i in messages %}
                        <h5 class="text-danger">{{ i }}</h5>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}